body{
  margin: 5em;
  background-color: #395597;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: None;
}

main{
  padding-top: 2em;
  background-color: #5478B4;
}

article{
  margin-right: 20%;
}

footer{
  border-top: thick solid black;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}

h1>span{
  display: block;
  color: gray;
  font-style: italic;
}

a {
  font-weight: bold;
  text-decoration: None;
  color: #021D4D;
}

footer p > img {
  width: 1em;
  height: 1em;
}

header nav {
  border-bottom: thin solid black;
}

main > h1 {
  border-bottom: thick solid black;
  font-size: 3em;
}

.The {
  background-color: white;
}

header, h1, footer, article, aside {
  background-color: #88A5C3;
}

h2, h3, p {
  color: #111526;
}